
@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_newLayout.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <section class="content row w-100">

                <div class="col-12 my-3">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">إدارة الاوردرات</h3>
                        </div>
                        <div class="card-body table-responsive">

                            <table id="tabel1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>إسم العميل</th>
                                        <th>الموبايل</th>
                                        <th>البريد الإلكتروني</th>
                                        <th>العنوان</th>
                                        <th>تاريخ</th>
                                        <th>حالة الطلب</th>
                                        <th>تفاصيل الشحنة</th>
                                        <th>الإجراءات</th>

                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>

                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
        </div>
        <!-- /.row -->
        </section>
    </div>
    <!-- /.row -->
</div>
<div class="modal  fade bd-example-modal-xl" id="modal-OrderView">
    <div class="modal-dialog modal-xl"  style="max-width:1000px">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">تفاصيل الشحنه</h4>
                <button type="button" class="close float-left m-0 mr-auto" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body table-responsive">
                    <h3>حالة الشحنة:<span id="orderstatus" style="font-size: 150%;"></span></h3>
                    <table id="tabel2" class="table table-bordered table-striped w-100">
                        <thead>
                            <tr>
                                <th>النوع</th>
                                <th>الإسم</th>
                                <th>الصورة</th>
                                <th>تفاصيل المنتج</th>
                                <th>السعر</th>
                                <th>الكمية</th>
                                <th>نسبة الخصم</th>
                                <th> السعر بعد الخصم</th>
                                <th> تفاصيل البوكس</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>

                    </table>
                </div>
                <div class="d-flex font-weight-bold flex-wrap justify-content-around align-items-center">
                    <h4 class="m-0">الإجمالي</h4>

                    <h4 class="m-0" style="min-width: 70px;"><span id="totalPrice"></span> جنيه</h4>
                    <hr class="w-100 my-3">
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">إلغاء</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal  fade bd-example-modal-lg" id="modal-OfferView">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">تفاصيل البوكس</h4>
                <button type="button" class="close float-left m-0 mr-auto" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body table-responsive">
                    
                    <table id="tabel3" class="table table-bordered table-striped w-100">
                        <thead>
                            <tr>                              
                                <th>الإسم</th>
                                <th>الصورة</th>
                                <th>تفاصيل المنتج</th>                               
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>

                    </table>
                </div>
                
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">إلغاء</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<script>
    $(document).ready(function () {
        $('.nav-link').removeClass('active');
        $('#orders').addClass('active');
        getOrders();
    })
    function getOrders() {
        $.ajax({
            url: "/Admin/LoadAllOrders",
            type: "GET",
            data: {},
            dataType: "json",
            async: false,
            success: function (result) {
                categoris = result;

                $('#tabel1').dataTable({
                    destroy: true,
                    data: result,
                    "language": {
                        "paginate": {
                            "next": "التالي",
                            "previous": "السابق"
                        }
                    },
                    "info": true,
                    "ordering": false,
                    columns: [

                        {
                            'data': null,
                            render: function (data, type, row) {
                                return '<td style="vertical-align: middle; color:red">' + data.ClientName + '</td>';
                            }
                        },
                        {
                            'data': null,
                            render: function (data, type, row) {
                                return ' <td style="vertical-align: middle;">' + data.Phone + '</td>';
                            }
                        },
                        {
                            'data': null,
                            render: function (data, type, row) {
                                return '<td style="vertical-align: middle;">' + data.E_Mail + '</td>';
                            }
                        },
                        {
                            'data': null,
                            render: function (data, type, row) {
                                return '<td style="vertical-align: middle;">' + data.Adress + '</td>';
                            }
                        },
                        {
                            'data': null,
                            render: function (data, type, row) {
                                return '<td style="vertical-align: middle;">' + data.Date.substring(0, 16) + '</td>';
                            }
                        },
                        {
                            'data': null,
                            render: function (data, type, row) {
                                var html = ' <td style="min-width: 200px;">';
                                html += '<select onchange="ChangeOrderStatus(' + data.Order_Id + ')" id="OrderStatus' + data.Order_Id + '" class="custom-select">';
                                if (data.Status == "NewOrder") {
                                    html += '<option selected value="1">طلب جديد</option>';
                                }
                                else {
                                    html += '<option  value="1">طلب جديد</option>';
                                }
                                if (data.Status == "Connected") {
                                    html += '<option selected value="2">تم التواصل</option>';
                                }
                                else {
                                    html += '<option  value="2">تم التواصل</option>';

                                }
                                if (data.Status == "Finshed") {
                                    html += '<option selected value="3">تم الإنتهاء</option>'
                                }
                                else {
                                    html += '<option value="3">تم الإنتهاء</option>';

                                }

                                return html;
                            }
                        },

                        {
                            'data': null,
                            render: function (data, type, row) {
                                return '<td style="vertical-align: middle;"><button  onclick="OrderDetalis(' + data.Order_Id + ')" data-toggle="modal" data-target="#modal-OrderView" class="btn btn-primary">عرض التفاصيل</button></td>';
                            }
                        },
                        {
                            'data': null,
                            render: function (data, type, row) {
                                return '<td style="vertical-align: middle;">' +
                                    '<div class="d-flex">' +
                                    '<a href="javascript:void(0);" onclick=deleteOrder(' + data.Order_Id + '); return false;>' +
                                    '<span style="margin-right: 1%;" title="حذف" class="btn btn-danger /*swalDefaultError*/"><em class="fa fa-trash"></em></span></a>' +
                                    '</div>' +
                                    '</td>';
                            }
                        },

                    ],
                    createdRow: function (row, data, dataIndex, cells) {
                        //$(row).css("background-color","red");
                        if (data.Status == "NewOrder") {
                            $(row).addClass("alert-danger");
                        }
                        else if (data.Status == "Connected") {
                            $(row).addClass("alert-success");
                        }


                    },

                })
            }
        });
    }
    function ChangeOrderStatus(id) {

        var status = $('#OrderStatus' + id).val();
        $.ajax({
            url: "/Admin/ChangeOrderStatus?Order_Id=" + id + "&Status=" + status,
            type: "POST",
            success: function (result) {

                if (result.res == true) {
                    $('#ordernum').html(result.ordernum);
                    Swal.fire({
                        position: 'middel',
                        icon: 'success',
                        title: 'تم التحديث حالة الشحنة بنجاح',
                        showConfirmButton: false,
                        timer: 1800
                    })
                    getOrders()
                }
                else {
                    Swal.fire({
                        position: 'middel',
                        icon: 'error',
                        title: 'حدث خطأ',
                        showConfirmButton: false,
                        timer: 1800
                    })
                }
            },
            error: function (result) {
                console.log(result);
            }
        });
    }
    function OrderDetalis(id) {

        $.ajax({
            url: "/Admin/LoadOrderDetalis?Order_Id=" + id,
            type: "GET",
            data: {},
            dataType: "json",
            async: false,
            success: function (result) {

                var totalprice = 0;
                var orderstatus;
                $.each(result, function (key, item) {
                    totalprice += item.TotalPrice;
                    orderstatus = item.OrderStatus;
                });
                $('#tabel2').dataTable({
                    destroy: true,
                    data: result,
                    "language": {
                        "paginate": {
                            "next": "التالي",
                            "previous": "السابق"
                        }
                    },
                    "lengthMenu": [[3], [3]],
                    "info": false,
                    "bLengthChange": false,
                    "ordering": false,
                    columns: [
                        {
                            'data': null,
                            render: function (data, type, row) {
                                return '<td style="vertical-align: middle;">' + data.KindOfOrder + '</td>';
                            }
                        },
                        {
                            'data': null,
                            render: function (data, type, row) {
                                return '<td style="vertical-align: middle;">' + data.Name + '</td>';
                            }
                        },
                        {
                            'data': null,
                            render: function (data, type, row) {
                                return ' <td style="vertical-align: middle;">' +
                                    '<img width="100" height="100" src="/Image/' + data.Image + '" alt=""></td>';
                            }
                        },
                        {
                            'data': null,
                            render: function (data, type, row) {
                                if (data.Description_A == null) {
                                    return '<td style="vertical-align: middle;"> لايوجد وصف </td>';

                                }
                                else {
                                    return '<td style="vertical-align: middle;"> <textarea readonly cols="25" rows="3" ">' + data.Description_A + '</textarea></td>';

                                }
                            }
                        },
                        {
                            'data': null,
                            render: function (data, type, row) {
                                return '<td style="vertical-align: middle;">' + data.Price + '</td>';
                            }
                        },
                        {
                            'data': null,
                            render: function (data, type, row) {
                                return '<td style="vertical-align: middle;">' + data.Quantity + '</td>';
                            }
                        },
                        {
                            'data': null,
                            render: function (data, type, row) {
                                if (data.KindOfOrder=="منتج") {
                                     return '<td style="vertical-align: middle;">%' + data.Discount_per + '</td>';
                                }
                                else {
                                     return '<td style="vertical-align: middle;">------ </td>';
                                }
                               
                            }
                        },
                        {
                            'data': null,
                            render: function (data, type, row) {

                                return '<td style="vertical-align: middle;">' + data.TotalPrice + '</td>';
                            }
                        },
                        {
                            'data': null,
                            render: function (data, type, row) {
                                 if (data.KindOfOrder=="بوكس") {
                                return '<td style="vertical-align: middle;"><button  onclick="OfferDetalis(' + data.Id + ')" data-toggle="modal" data-target="#modal-OfferView" class="btn btn-primary">تفاصيل البوكس</button></td>';
                                }
                                else {
                                     return '<td style="vertical-align: middle;">------ </td>';
                                }

                            }
                        },

                    ],
                })
                $('#tabel2_filter').css('margin-right', '-102%')
                $('#orderstatus').removeClass();
                if (orderstatus == "NewOrder") {
                    $('#orderstatus').html("طلب جديد");
                    $("#orderstatus").addClass("alert-dismissible alert-info")
                }
                else if (orderstatus == "Connected") {

                    $('#orderstatus').html("تم التواصل");
                    $("#orderstatus").addClass("alert-dismissible  alert-danger")
                }
                else if (orderstatus == "Finshed") {
                    $('#orderstatus').html("تم الانتهاء");
                    $("#orderstatus").addClass("alert-dismissible  alert-success")
                }

                $('#totalPrice').html(totalprice)

            }
        });
    }
    function OfferDetalis(id) {
        debugger;
        $.ajax({
            url: "/Admin/LoadOfferDetalis?Offer_Id=" + id,
            type: "GET",
            data: {},
            dataType: "json",
            async: false,
            success: function (result) {

                $('#tabel3').dataTable({
                    destroy: true,
                    data: result,
                    "language": {
                        "paginate": {
                            "next": "التالي",
                            "previous": "السابق"
                        }
                    },
                    "lengthMenu": [[3], [3]],
                    "info": false,
                    "bLengthChange": false,
                    "ordering": false,
                    columns: [
                      
                        {
                            'data': null,
                            render: function (data, type, row) {
                                return '<td style="vertical-align: middle;">' + data.Name + '</td>';
                            }
                        },
                        {
                            'data': null,
                            render: function (data, type, row) {
                                return ' <td style="vertical-align: middle;">' +
                                    '<img width="100" height="100" src="/Image/' + data.Image + '" alt=""></td>';
                            }
                        },
                        {
                            'data': null,
                            render: function (data, type, row) {
                                if (data.Description_A == null) {
                                    return '<td style="vertical-align: middle;"> لايوجد وصف </td>';

                                }
                                else {
                                    return '<td style="vertical-align: middle;"> <textarea readonly cols="25" rows="3" ">' + data.Description_A + '</textarea></td>';

                                }
                            }
                        },
                       

                    ],
                })
              

            }
        });
    }
    function deleteOrder(id) {
        Swal.fire({
            title: 'هل انت متأكد?',
            text: "اذا قمت بمسح هذا لن تستطيع استرجاعه ثانيتا!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'نعم ,قم بالحذف',
            cancelButtonText: 'الغاء',
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: "/Admin/DeleteOrder?Order_Id=" + id,
                    type: "POST",
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    async: false,
                    success: function (result) {

                        if (result == true) {
                            Swal.fire(
                                'تم الحذف!',
                                'تم حذف البيانات.',
                                'success'
                            )
                            getOrders();
                        }
                        else {
                            Swal.fire(
                                'حدث خطأ!',
                                'البيانات تم استخدامها من قبل لايمكنك حذفها',
                                'error'
                            )
                        }
                    }
                });

            }
        })
    }
</script>